@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* Global Settings */
body{
    background-color: #343a40;
    color: #ccc;
}

.header{
    font-family: "Source Code Pro", monospace;
    text-align: center;
    font-size: 40px;
    color: #f2f231;
    text-shadow: rgb(0, 0, 0) 8px 8px 3px;
}

p.header{
    margin-bottom:30px;
}

a:active, a:visited, a:link{
    color:#fff;
}

a:hover{
    color: #f2f231;
    text-decoration: none;
}

/* Home Page */
div.homepage p:first-letter{
    font-size:30px;
    font-weight: bold;
}

/* News Page */
div.newsHeadline{
    text-shadow: 3px 3px 3px #000;
    font-size: 26px;
    font-style: italic;
    color: #fff;
}

div.newsContent{
    margin-bottom:30px;
}

/* Contact Page */
ul.contact li a:active, ul.contact li a:visited, ul.contact li a:link{
    color: #fff;
    text-decoration:none;
}

ul.contact li a:hover{
    color: #f2f231;
    text-shadow: none;
    text-decoration:none;
}

/* Timer Page */
img.timer{
    display: block;
    margin: auto;
    width: 60%;
}

/* Instruction Page */
p.steps{
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
    margin-top: -5px;
}

hr.steps{
    margin-top: 40px;
    border: 1px solid #fff;
}